
body {
	font-family: 'Open Sans';
}

nav {
	padding: 10px;
	list-style-type: none;
	position: fixed;
  	top: 0;
    z-index: 1;
    width: 100%;
    height: -50%;
    background-color: white;
}



nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
	position: sticky;
	top: 0;



}
.right-nav {
	 display: inline-block;
    float: right;

}

.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 30px;
	font-size: 1rem;
	padding: 1rem;
	width: 150px;
	margin-right: 50px;
}


#bg-image {
	
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	min-height: 50vh;
	background-size: 100%;
	background-attachment: inherit;
	background-position: left;
	width: 100%;

}

.front-bg{
    background-color: rgba(0, 0, 0, .5) ;
  
}

.container {
    color: white;
}

.title {
	font-family: 'Zilla Slab';
	font-size: 75px;
	margin-right: 100px;
	text-align: right;
}

.subtitle {
	font-family: 'Zilla Slab';
	font-size: 30px;
	margin-right: 100px;
	text-align: right;
	padding: 4rem;
}

.apply-button {
	
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 30px;
	font-size: 1rem;
	padding: 1rem;
	margin: 2px;
	display: block;
	float: right;
	width: 200px;
		
}





.intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.pre-footer {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}


.book-button {
	color: white;
	font-weight: bold;
	background-color: #336589;
	border-radius: 30px;
	font-size: 1rem;
	padding: 1rem;
	width: 200px;

}

footer {
	padding: 0.7rem;
	text-align: center;

}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;

}

